<%- include("./partials/header") -%>

<div class="container">
    <div class="row">
        <div class="col-md-offset-3"> <p>  </p></div>
    </div>
    <div class="row">
        
        <div class="col-md-offset-3">
            <h3>Project Description:</h3>
            <p>
                The goal of this project is to create a ToDo List web application using Node.js, Express.js, and EJS. The application will allow users to create and view tasks. Tasks will not persist between sessions as no database will be used in this version of the application.
            </p>
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-offset-3">
            <h3>Features: </h3>
            <ol>
                <li>
                    <p>Task Creation: Users should be able to create new tasks.</p>
                </li>
                <li>
                    <p>Task Viewing: Users should be able to view a list of all their tasks.</p>
                </li>
                <li>
                    <p>Task Completion: Users should be able to strike through their completed tasks in the todo list. Tasks do not need to be deleted.</p>
                </li>
                <li>
                    <p>Segmented Lists: Users should be able to access at least 2 lists, one for the day's tasks and another for their work related tasks. </p>
                
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-offset-3">
            <h3>Technical Requirements:</h3>
            <ol>
                <li>
                    <p>Node.js & Express.js: The application will be a web server built using Node.js and Express.js. Express.js will handle routing and middleware.</p>
                </li>
                <li>
                    <p>EJS: EJS will be used as the templating engine to generate dynamic HTML based on the application's state.</p>
                </li>
            </ol>
        </div>
    </div>
</div>

<%- include("./partials/footer") -%>