
body {
  background-color: #CBE4DE;
  color:#2C3333;
}
.jumbotron{
  background-color: #CBE4DE;
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
